<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предсказатель упругости и растяжения материала</title>
</head>

<head>
    <h1>Заполните данные</h1>
</head>

<body>
    <form action="{{url_for('main')}}" method="POST">
        <fieldset>
            <small>Соотношение матрица-наполнитель</small>
            <input type="text" name="Соотношение матрица-наполнитель">
            <br>
            <br>
            <small>Плотность, кг/м3</small>
            <input type="text" name="Плотность, кг/м3">
            <br>
            <br> <small>Количество отвердителя, м.%</small>
            <input type="text" name="Количество отвердителя, м.%">
            <br>
            <br>
            <small>Содержание эпоксидных групп,%_2</small>
            <input type="text" name="Содержание эпоксидных групп,%_2">
            <br>
            <br>
            <small>Температура вспышки, С_2</small>
            <input type="text" name="Температура вспышки, С_2">
            <br>
            <br>
            <small>Поверхностная плотность, г/м2</small>
            <input type="text" name="Поверхностная плотность, г/м2">
            <br>
            <br>
            <small>Модуль упругости при растяжении, ГПа</small>
            <input type="text" name="Модуль упругости при растяжении, ГПа">
            <br>
            <br>
            <small>Потребление смолы, г/м2</small>
            <input type="text" name="Потребление смолы, г/м2">
            <br>
            <br>
            <small>Угол нашивки, град</small>
            <input type="text" name="Угол нашивки, град">
            <br>
            <br>
            <small>Шаг нашивки</small>
            <input type="text" name="Шаг нашивки">
            <br>
            <br>
            <small>Плотность нашивки</small>
            <input type="text" name="Плотность нашивки">
            <br>
            <br>
            <small>day</small>
            <input type="text" name="day">
            <br>
            <br>
            <small>duration</small>
            <input type="text" name="duration">
            <br>
            <br> <small>campaign</small>
            <input type="text" name="campaign">
            <br>
            <br> <small>pdays</small>
            <input type="text" name="pdays">
            <br>
            <br> <small>previous</small>
            <input type="text" name="previous">
            <br>
            <br>
            <button type="submit">ПОЛУЧИТЬ РЕШЕНИЕ</button>
        </fieldset>
    </form>


</body>

</html>