<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Предсказатель прочности при растяжении материала</title>
    <h1>Предсказатель прочности при растяжении материала</h1>
    <h1>Заполните данные</h1>
</head>

<body>

    <form action="{{url_for('main')}}" method="POST">
        <fieldset>
            <small>Соотношение матрица-наполнитель</small>
            <input type="text" name="Соотношение матрица-наполнитель">
            <br>
            <br>
            <small>Плотность, кг/м3</small>
            <input type="text" name="Плотность, кг/м3">
            <br>
            <br>
            <small>Модуль упругости, ГПа</small>
            <input type="text" name="модуль упругости, ГПа">
            <br>
            <br> <small>Количество отвердителя, м.%</small>
            <input type="text" name="Количество отвердителя, м.%">
            <br>
            <br>
            <small>Содержание эпоксидных групп,%</small>
            <input type="text" name="Содержание эпоксидных групп,%_2">
            <br>
            <br>
            <small>Температура вспышки, С</small>
            <input type="text" name="Температура вспышки, С_2">
            <br>
            <br>
            <small>Поверхностная плотность, г/м2</small>
            <input type="text" name="Поверхностная плотность, г/м2">
            <br>
            <br>
            <small>Модуль упругости при растяжении, ГПа</small>
            <input type="text" name="Модуль упругости при растяжении, ГПа">
            <br>
            <br>
            <small>Потребление смолы, г/м2</small>
            <input type="text" name="Потребление смолы, г/м2">
            <br>
            <br>
            <small>Угол нашивки, град</small>
            <input type="text" name="Угол нашивки, град">
            <br>
            <br>
            <small>Шаг нашивки</small>
            <input type="text" name="Шаг нашивки">
            <br>
            <br>
            <small>Плотность нашивки_лог</small>
            <input type="text" name="Плотность нашивки_лог">
            <br>
            <br>
            
            <button type="submit">ПОЛУЧИТЬ РЕШЕНИЕ</button>
        </fieldset>
    </form>

    <div>
        
    </div>

</body>

</html>